<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/LogoCafe.png" alt="Logo Blended Cafe">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <p><a href="/api/product">Listado de Cafes</a></p>
  </body>
</html>
